#logo{
    width: 100px;

}
#soporte{
    width: 80px;
}
.container-fluid{
    background-color:beige;
}
h1{
    
  font-family: "Roboto Condensed", sans-serif;
  


}
.col{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
body{
    background-image: url(fondooscuro.JPG);
     background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    border-radius: 5px;

}